[Unit]
Description=IntelliJ IDEA

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/intellij-idea-ue-bundled-jre
ExecStop=/usr/bin/pkill intellij-idea-ue-bundled-jre
