[Unit]
Description=low-battery notification

[Service]
Environment=DISPLAY=:0
Type=oneshot
ExecStart=/bin/bash -c "%h/bin/low-battery"

[Install]
WantedBy=wm.target
