[user]
	email = carymrobbins@gmail.com
	name = Cary M. Robbins
[push]
	default = current
[pull]
	default = current
[merge]
	tool = kdiff3
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	d = diff
	unstage = reset HEAD --
	autosquash = rebase -i --autosquash
	p = push
	pf = push --force-with-lease
        rh = rebase-helper
        rho = rebase-helper origin/master
[core]
	commentchar = "#"
	excludesfile = ~/.gitignore
	pager = less -F -X
