[user]
	useConfigOnly = true
[push]
	default = current
[pull]
	default = current
[merge]
	tool = kdiff3
[alias]
	co = checkout
	br = branch
	a = add
	au = add -u
	ap = add -p
	ci = commit
	fu = commit --fixup
	sq = commit --squash
	fq = !git commit -a --fixup HEAD && git rebase -i --autosquash HEAD^^
	s = show
	st = status
	d = diff
	dc = diff --cached
	dh = diff HEAD
	l = log --graph --decorate
	l1 = log --oneline
	ll1 = log --graph --decorate --oneline
	f = fetch
	unstage = reset HEAD --
	r = rebase
	autosquash = rebase -i --autosquash
	as = rebase -i --autosquash
	p = push
	pt = push --follow-tags
	pf = push --force-with-lease
        rh = rebase-helper
        rho = rebase-helper origin/master
        tt = !git tag | sort -V
[core]
	commentchar = "#"
	excludesfile = ~/.gitignore
	pager = less -F -X
