cachedDictionary.xml
code.style.schemes.xml
colors.scheme.xml
databaseSettings.xml
debugger.renderers.xml
debugger.xml
dimensions.xml
extensionsRootType.xml
feature.usage.statistics.xml
git.xml
gradle.run.settings.xml
ide.general.xml
images.support.xml
IntelliLang.xml
jdk.table.xml
keymap.xml
laf.xml
markdown.xml
options.xml
other.xml
path.macros.xml
project.default.xml
proxy.settings.pwd
recentProjects.xml
runner.layout.xml
scala.xml
statistics.application.usages.xml
stubIndex.xml
ui.lnf.xml
usage.statistics.xml
vim_settings.xml
web-browsers.xml
window.manager.xml
window.state.xml
