[Unit]
Description=IntelliJ IDEA

[Service]
Environment=DISPLAY=:0
Type=simple
ExecStart=/bin/bash -c "%h/opt/idea/bin/idea.sh"
ExecStop=/usr/bin/pkill idea.sh
