[Unit]
Description=polybar

[Service]
Environment=DISPLAY=:0
ExecStart=/%h/dotfiles/linux/bin/polybar-wrapper -r main
ExecStop=/usr/bin/pkill polybar

[Install]
WantedBy=wm.target
