# This depends on the user service geoclue-redshift-agent
#
# Note that you'll want to add the following in /etc/geoclue/geoclue.conf
# so you don't have to manually enable access for redshift via a geoclue
# dialog prompt.
#
# [redshift]
# allowed=true
# system=false
# users=

[Unit]
Description=redshift

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/redshift-gtk -c %h/dotfiles/linux/redshift.conf
ExecStop=/usr/bin/pkill --signal INT redshift

[Install]
WantedBy=wm.target
