[Unit]
Description=stalonetray

[Service]
Environment=DISPLAY=:0
ExecStart=/%h/dotfiles/linux/bin/stalonetray-wrapper
ExecStop=/usr/bin/pkill stalonetray

[Install]
WantedBy=wm.target
