[Unit]
Description=xbindkeys

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xbindkeys -n
ExecStop=/usr/bin/pkill xbindkeys

[Install]
WantedBy=wm.target
