[Unit]
Description=xcompmgr

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/xcompmgr
ExecStop=/usr/bin/pkill xcompmgr

[Install]
WantedBy=wm.target
