stuff/
worksheet.sc
*.worksheet.sc
.DS_Store

ScratchPad.scala

# Ignore IntelliJ project files
.idea/
*.iml

# Ignore special .vnv files for my vnv zsh function
.vnv

# Ignore GHC profile output
*.prof

# My ghcup project configs
.ghcup.yaml
