[include]
	path = ~/.gitconfig.user

[user]
	useConfigOnly = true
[push]
	default = current
[pull]
	default = current
[merge]
	tool = kdiff3
[alias]
	c = clone-as
	co = checkout
	br = branch
	a = add
	au = add -u
	ap = add -p
	ci = commit
	cf = commit --fixup
	ca = commit --amend
	fu = commit --fixup
	sq = commit --squash
	fq = !git commit -a --fixup HEAD && git rebase -i --autosquash HEAD^^
	s = show
	ss = show --stat
	st = status
	d = diff
	dc = diff --cached
	dh = diff HEAD
	l = log --oneline --color --no-decorate
	ln = log --oneline --color --no-decorate -n10
	ld = log --oneline --color --no-decorate develop..
	ll = log --graph --decorate
	ls = log --graph --decorate --stat
	l1 = log --oneline
	ll1 = log --graph --decorate --oneline
	lp = log -p
	f = fetch --all
	unstage = reset HEAD --
	r = rebase
	ri = rebase -i
	autosquash = rebase -i --autosquash
	as = rebase -i --autosquash
	p = push
	pt = push --follow-tags
	pf = push --force-with-lease
        rh = rebase-helper
        rho = rebase-helper origin/master
        tt = !git tag | sort -V
[core]
	commentchar = "#"
	excludesfile = ~/.gitignore
	pager = less -F -X
